body {
    font-family: helvetica;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #242a56;
}
img {
    max-width: 100%;
    max-height: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.nav1 {
    position: sticky;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 4px #008fd0;
    width: 100%;
    height: 65px;
}

.navigation {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    position: inherit;
    height: 100%;
}

.navigation-picture {
    display: flex;
    height: 45px;
    flex-grow: 1;
    flex-direction: row;
    align-self: center;
    width: fit-content;
}

.navigation-links {
    display: flex;
    flex-direction: row;
}

.navigation-link {
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: helvetica;
    font-weight: 400;
}

.navigation-link:hover {
    background-color: #e5f4fb;
}

.navigation-link-text {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    color: #242a56;
    font-family: "open_sansbold", sans-serif;
    font-size: 16px;
    letter-spacing: -.03em;
    font-weight: bold
}



#headerHero {
    margin: 0;
    display: flex;
    position: sticky;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: #e5f4fb;
    justify-items: center;
}
#headerBox{
 width: 1200px;
 justify-content: space-between;
}
#titleRow {
    justify-content: space-between;
    color: #242a56;
    font-size: 14px;
    letter-spacing: -.61px;
    display: flex;
}
#userAccount {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    padding-right: 200px;
}
#middle {
    display: flex;
    flex-direction: row;

}

#oceanCreditCard {
    color: #008fd0;
}

#bigHeader {
    color: #242a56;

}

#checkMarks {
    display: flex;
    flex-direction: column;
}

.check {
    display: flex;
    flex-direction: row;
}

.checkImage {
    height: 24px;
    padding-top: 15px;
    margin-right: 8px;
}

.checkDesc {
    color: #008fd0;
}

#balance {
    font-size: smaller;
}

#exampleCard {
    display: flex;
    background-color: #242a56;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
    padding: 15px 25px;
    border-radius: 15px;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
}

#exampleText {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#mid-right {
    font-size: 11px;
    width: 300px;
    margin-right: 50px;
}

#cardImage {
    width: 80%;
    justify-self: center;
}

.repText {
    color: white;
    justify-self: center;
    text-align: center;
}

#exampleMid {
    padding: 0 5px;
    margin: 0 5px;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

#repTitle {
    color: white;
    text-align: center;
    justify-content: center;
}

#repEnd {
    color: white;
    text-align: center;
}

#checkArea {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 24px;
    width: 240px;
    background-color: #5e9b00;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    border: 0;
    font-weight: bold;
    font-family: "open_sansbold", sans-serif;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
}

#checkArea:hover {
    background-color: #006400  ;
}
#end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}
.infoCard{
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    align-content: space-between;
    justify-content: flex-start;
    background-color: white;
    width: 100% ;
    margin-right: 20px;
}
.infoImage{
    box-sizing: border-box;
    width: 25%;
    padding: 20px;
    display: flex;
    align-items: center;
}
.infoText{
    margin: 20px;
}
.infoTitle{
    margin: 0;
    color: #242a56;
    font-size: 24px;
    letter-spacing: -.2px;
}
#reviewSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    background-color: #008fd0;

}
#reviewsTitle{
    color: white;
}
#reviewsDescription{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
#reviewMid{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}
#leftArrow{
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    padding: 15px;
}
#review{
    height: 100%;
    margin: auto 50px;
    text-align: left;
}
#reviewImage{
    box-sizing: border-box;
    width: 30%;
    padding: 20px 30px 20px 30px;
    display: flex;
    align-items: center;
}
#reviewText {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 30px;
}
#reviewInfo{
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px ;
    color: #008fd0;

}
#time{
    display: flex ;
    padding-left: 300px;
    align-items: center;
    flex-direction: row;
}
#feefo{
    margin-bottom: 20px
}
#reviewContent{
    margin-top: 30px;
}
#guidesSection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#guidesRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    align-content: flex-start;
    padding-right: 800px;
    width: 100%;
    background-color: #efefef;
}
.guidesRowText{
    display: flex;
    padding: 15px;
    padding-right: 25px;
}
#guides{
    display: flex;
    border-bottom: solid;
    height: 100%;
    color: #008fd0;
    text-align: center;
    border-bottom-color: #008fd0;
}
#guidesPictures{
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.guidesPicturesRow{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 70%;
    align-content: space-between;
}
.guide{
    padding-right: 30px;
}
.clickableGuide img{
    border-radius: 10%;
}
.clickableGuide p{
    color: #242a56;
    font-weight: bold;
    font-family: "open_sansbold", sans-serif;
}